@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: Rails;
    font-weight: 400;
    src: url("./fonts/Rails/SFProRailsRegular.ttf");
}

::selection{
    background-color: var(--color4);
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --color1: #13005a;
    --color2: #00337c;
    --color3: #1c82ad;
    --color4: #03c988;
    --color5: white;
    --mainFont: 'Inter';
    --secondFont: 'Poppins';
    --tertFont: 'Poppins';
    /*--tertFont: 'Rails';*/
    --gradient: linear-gradient(180deg, transparent, black, black, transparent);
    --gradient-down: linear-gradient(180deg, transparent, black, black, black, transparent);
    scroll-behavior: smooth;
}

body{
    color: white;
    background-color: black;
    font-family: var(--secondFont);
    overflow-x: hidden;
}

.loader{
    height: 10px;
    background-color: var(--color4);
    position: absolute;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    margin-top: 0;
    top: 0;
    z-index: 99;
    left: 10%;
    right: 50%;
}

nav{
    display: flex;
    position: relative;
    margin-left: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 6rem;
    padding: 0 50px;
    background: #161617;
    border-radius: 10px;
}

nav .logo{
    height: 2rem;
}

nav a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.5em;
    list-style: none;
    padding: 0;
}

nav ul a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

nav ul a:hover{
    color: var(--color5);
}

nav ul li:hover{
    transform: translateY(-4px) ;
    transition: .1s ease-in-out;
}

.content{
    display: none;
}

#demo-canvas{
    margin: 0px;
    position: absolute;
    top: 0px;
    z-index: -50;
}

.hero{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heroText{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    text-align: center;
}

.heroText .desc{
    padding: 10px 20%;
}

#blob{
    position: absolute;
    width: 63px;
    transform: rotateZ(40deg);
    margin-left: -0.4rem;
}

.heroText h2{
    padding: 0;
    margin: 0;
}

.heroText h2 span{
    font-style: italic;
}

.hero .buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    flex-grow: 0;   
}

.secButton {
    font-family: var(--secondFont);
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    transition: transalteY 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  
  .secButton::after {
    content: "\2192";
  }
  
  .secButton:hover {
    color: var(--color5);
    border-bottom: 2px solid var(--color4); transform: translateY(-2px) ;
  }
  
  .priButton {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 3.9375em;
    box-sizing: border-box;
    color: #fff;
    background-color: var(--color4);
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3em;
    min-width: 0;
    outline: none;
    padding: 0.8em 1.4em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .priButton:disabled {
    pointer-events: none;
   }
   
   .priButton:hover {
    color: var(--color4);
    background-color: var(--color5);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   .priButton:active {
    box-shadow: none;
    transform: translateY(0);
   }
  
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.pre{
    position: relative;
    font-family: var(--mainFont);
    font-size: 11rem;
    font-weight: 600;
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.75px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.6);
    user-select: none;
}

body h1{
    font-family: var(--mainFont);
    font-size: 11rem;
    font-weight: 600;
    margin: 0px;
    user-select: none;
    background: var(--gradient);
    z-index: 0;
}

.post {
    position: relative;
    font-family: var(--mainFont);
    font-size: 11rem;
    font-weight: 600;
    background: var(--gradient-down);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.75px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.55);
    user-select: none;
}

.pre3H1{
    margin-bottom: -287px;
    z-index: -3;
    animation: openPre3 1s;
}

@keyframes openPre3 {
    from{margin-bottom: -800px;}
    to{margin-bottom: -287px;}
}

.pre2H1{
    margin-bottom: -295px;
    z-index: -2;
    animation: openPre2 1s;
}

@keyframes openPre2 {
    from{margin-bottom: -280px;}
    to{margin-bottom: -174px;}
}

.pre1H1{
    margin-bottom: -140px;
    z-index: -1;
    background: var(--gradient);
    animation: openPre1 1s;
}

@keyframes openPre1 {
    from{margin-bottom: -100px;}
    to{margin-bottom: -80px;}
}

.post1H1{
    margin-top: -140px;
    z-index: -1;
    animation: openPost1 1s;
}

@keyframes openPost1 {
    from{margin-top: -100px;}
    to{margin-top: -80px;}
}

.post2H1{
    margin-top: -295px;
    z-index: -2;
    animation: openPost2 1s;
}

@keyframes openPost2 {
    from{margin-top: -280px;}
    to{margin-top: -174px;}
}

.post3H1{
    margin-top: -287px;
    z-index: -3;
    animation: openPost3 1s;
}

@keyframes openPost3 {
    from{margin-top: -280px;}
    to{margin-top: -174px;}
}

body h1 span{
    color: var(--color4);  
}

body .desc{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.section{
    height: 80svh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.section .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section h2{
    font-size: 5rem;
    font-family: var(--tertFont);
    font-weight: 600;
}

.card-sec{
    max-width: 50svw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.card {
    width: 20rem;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
  }
  
  .card-inner {
    width: inherit;
    height: inherit;
    padding: 20px;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  
.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#03c988, #03c987bd);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -50px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }

.card-icon{
    height: 50px;
}

.card h3{
    font-size: 22px;
    margin: 0;
    padding: 5px;
    text-transform: capitalize;
}

.card p{
    color: rgba(255, 255, 255, 0.6);
}

.post-card {
    width: 500px;
    background: lightgrey;
    background-color: rgb(24 27 32);
    border: 1px solid rgb(84 90 106);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    text-align: center;
}

  .card-sec .title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    transition: all .15s ease-in;
  }
  
  .post-card:hover .title{
    color: var(--color4);
  }
  
  .datetime {
    font-size: 14px;
    color: rgb(168 179 207);
    margin: 10px 0;
  }
  
  .image-preview {
    flex: 1;
    min-height: 130px;
    width: 100%;
    border-radius: 20px;
    background-color: #03c988;
    background-image: linear-gradient(to top left, blueviolet,rgb(73, 31, 112));
    margin-bottom: 4px;
  }

  .image-preview img{
    width: 100%;
    border-radius: 20px;
  }