@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::selection{
    background-color: var(--color4);
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --color1: #13005a;
    --color2: #00337c;
    --color3: #1c82ad;
    --color4: #03c988;
    --color5: white;
    --mainFont: 'Inter';
    --gradient: linear-gradient(180deg, transparent, black, black, transparent);
}

body{
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

.loader{
    height: 10px;
    background-color: var(--color4);
    position: absolute;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding: 0px;
}

nav ul a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

nav ul a:hover{
    color: var(--color5);
    border-bottom: 2px solid var(--color4);
}

nav ul li:hover{
    transform: translateY(-2px) scale(1.1);
    transition: .15s ease-in-out;
}

.cta {
    padding: 0;
    margin-right: 25px;
    margin-left: auto;
    border: none;
    background: none;
  }
  
.cta {
    --primary-color: var(--color5);
    --hovered-color: var(--color4);
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  .cta p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
  }
  
  .cta::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .cta p::before {
    position: absolute;
  /*   box-sizing: border-box; */
    content: "Contact";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  .cta:hover::after {
    width: 100%;
  }
  
  .cta:hover p::before {
    width: 100%;
  }
  
  .cta:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
  }
  
  .cta svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }

.content{
    display: none;
}

#demo-canvas{
    margin: 0px;
    position: absolute;
    top: 0px;
    z-index: -50;
}

.hero{
    height: 90svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body h1{
    font-family: var(--mainFont);
    font-size: 105px;
    font-weight: 600;
    margin: 0px;
    user-select: none;
    background: var(--gradient);
    z-index: 99;
}

.prePreH1{
    font-family: var(--mainFont);
    font-size: 105px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: -174px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.6);
    user-select: none;
    z-index: 0;
}

.preH1{
    font-family: var(--mainFont);
    font-size: 105px;
    font-weight: 600;
    margin-bottom: -80px;
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.6);
    user-select: none;
    z-index: 50;
}

.postH1{
    font-family: var(--mainFont);
    font-size: 105px;
    font-weight: 600;
    margin-top: -80px;
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.55);
    user-select: none;
    z-index: 50;
}

.postPostH1{
    font-family: var(--mainFont);
    font-size: 105px;
    font-weight: 600;
    margin-top: -174px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.55);
    user-select: none;
    z-index: 0;
}

body h1 span{
    color: var(--color4);
}

body .desc{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}