@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::selection{
    background-color: var(--color4);
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --color1: #13005a;
    --color2: #00337c;
    --color3: #1c82ad;
    --color4: #03c988;
    --color5: white;
    --mainFont: 'Inter';
    --secondFont: 'Poppins';
    --gradient: linear-gradient(180deg, transparent, black, black, transparent);
    --gradient-down: linear-gradient(180deg, transparent, black, black, black, transparent);
    scroll-behavior: smooth;
}

body{
    color: white;
    background-color: black;
    font-family: var(--secondFont)
}

.loader{
    height: 10px;
    background-color: var(--color4);
    position: absolute;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
    top: 20px;
    left: 25%;
    right: 75%;
}

nav{
    display: flex;
    position: relative;
    margin-left: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav .logo{
    height: 30px;
    position: relative;
    margin-left: 20px;
}

nav a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding: 0px;
}

nav ul a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

nav ul a:hover{
    color: var(--color5);
    border-bottom: 2px solid var(--color4);
}

nav ul li:hover{
    transform: translateY(-2px) ;
    transition: .15s ease-in-out;
}


.content{
    display: none;
}

.fullpage{
    display: flex;
    flex-direction: column;
}

#demo-canvas{
    margin: 0px;
    position: absolute;
    top: 0px;
    z-index: -50;
}

.hero{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heroText{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    text-align: center;
}

.heroText .desc{
    padding: 10px 20%;
    font-size: 1rem;
}

#blob{
    position: absolute;
    width: 63px;
    transform: rotateZ(40deg);
    margin-left: -5px;
}

.heroText h2{
    padding: 0;
    margin: 0;
}

.hero .buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 0;   
}

.secButton {
    font-family: var(--secondFont);
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    transition: transalteY 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  
  .secButton::after {
    content: "\2192";
  }
  
  .secButton:hover {
    color: var(--color5);
    border-bottom: 2px solid var(--color4); transform: translateY(-2px) ;
  }
  
  .priButton {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 3.9375em;
    box-sizing: border-box;
    color: #fff;
    background-color: var(--color4);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3em;
    min-width: 0;
    outline: none;
    padding: 0.8em 1.4em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .priButton:disabled {
    pointer-events: none;
   }
   
   .priButton:hover {
    color: #fff;
    background-color: var(--color4);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   .priButton:active {
    box-shadow: none;
    transform: translateY(0);
   }
  
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.pre{
    position: relative;
    font-family: var(--mainFont);
    font-size: 175px;
    font-weight: 600;
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.6);
    user-select: none;
}

body h1{
    font-family: var(--mainFont);
    font-size: 175px;
    font-weight: 600;
    margin: 0px;
    user-select: none;
    background: var(--gradient);
    z-index: 0;
}

.post {
    position: relative;
    font-family: var(--mainFont);
    font-size: 175px;
    font-weight: 600;
    background: var(--gradient-down);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.55);
    user-select: none;
}

.pre3H1{
    margin-bottom: -287px;
    z-index: -3;
    animation: openPre3 1s;
}

@keyframes openPre3 {
    from{margin-bottom: -800px;}
    to{margin-bottom: -287px;}
}

.pre2H1{
    margin-bottom: -295px;
    z-index: -2;
    animation: openPre2 1s;
}

@keyframes openPre2 {
    from{margin-bottom: -280px;}
    to{margin-bottom: -174px;}
}

.pre1H1{
    margin-bottom: -140px;
    z-index: -1;
    background: var(--gradient);
    animation: openPre1 1s;
}

@keyframes openPre1 {
    from{margin-bottom: -100px;}
    to{margin-bottom: -80px;}
}

.post1H1{
    margin-top: -140px;
    z-index: -1;
    animation: openPost1 1s;
}

@keyframes openPost1 {
    from{margin-top: -100px;}
    to{margin-top: -80px;}
}

.post2H1{
    margin-top: -295px;
    z-index: -2;
    animation: openPost2 1s;
}

@keyframes openPost2 {
    from{margin-top: -280px;}
    to{margin-top: -174px;}
}

.post3H1{
    margin-top: -287px;
    z-index: -3;
    animation: openPost3 1s;
}

@keyframes openPost3 {
    from{margin-top: -280px;}
    to{margin-top: -174px;}
}

body h1 span{
    color: var(--color4);
}

body .desc{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

#fullpage div{
    background: black;
    z-index: 3;
}