@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::selection{
    background-color: var(--color4);
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --color1: #13005a;
    --color2: #00337c;
    --color3: #1c82ad;
    --color4: #03c988;
    --color5: white;
    --mainFont: 'Inter';
    --gradient: linear-gradient(180deg, transparent, black, black, transparent);
}

body{
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.loader{
    height: 10px;
    background-color: var(--color4);
    position: absolute;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0px;
}

nav ul a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

nav ul a:hover{
    color: var(--color4);
    border-bottom: 2px solid var(--color4);
    transition-duration: 0.15s;
}

.content{
    display: none;
}

.hero{
    height: 90svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body h1{
    font-family: var(--mainFont);
    font-size: 105px;
    font-weight: 600;
    margin: 0px;
    user-select: none;
    background: var(--gradient);
    z-index: 99;
}

.prePreH1{
    font-family: var(--mainFont);
    font-size: 105px;
    font-weight: 600;
    margin-bottom: -174px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.6);
    user-select: none;
    z-index: 0;
}

.preH1{
    font-family: var(--mainFont);
    font-size: 105px;
    font-weight: 600;
    margin-bottom: -80px;
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.6);
    user-select: none;
    z-index: 50;
}

.postH1{
    font-family: var(--mainFont);
    font-size: 105px;
    font-weight: 600;
    margin-top: -80px;
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.55);
    user-select: none;
    z-index: 50;
}

.postPostH1{
    font-family: var(--mainFont);
    font-size: 105px;
    font-weight: 600;
    margin-top: -174px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.55);
    user-select: none;
    z-index: 0;
}

body h1 span{
    color: var(--color4);
}

body .desc{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}